#Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**

- List popular languages for Data Science
- Summarize Data Science tools and ecosystem
- Introduction to evaluating arithmetic expressions in Python

In [ ]:
Some of the common languages that Data Scientists use are : 

1. Python
2. R 
3. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. Pandas 
2. Numpy 
3. Matplotlib

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| VS Code with Python extension |

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
m = 200
h = 200/60
print(h)

3.3333333333333335

In [ ]:
## Author
Your Name: Muhammad Wasif Khan